*{
    margin: 0;
    padding: 0;
}

.triangle1{
	background: transparent;
	border-top: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 150px solid black;
    border-left: 150px solid transparent;
    position: absolute;
	width: 0px;
    height: 0px;
    bottom: 0;
    left: 40%;
    animation: triang1 2s linear forwards;
}

@keyframes triang1{
    0%{
        transform: translate(0);
    }
    100%{
        transform: translateY(-100px) translateX(-10px) rotate(180deg);
    }
}

.triangle2{
	position: static;
	background: transparent;
	border-top: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 100px solid transparent;
    border-left: 100px solid black;
    position: absolute;
	width: 0px;
    height: 0px;
    animation: triang2 2s linear forwards;
}

@keyframes triang2{
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(583px,270px) rotate(45deg);
    }
}


.triangle3{
	position: static;
	background: transparent;
	border-top: 100px solid transparent;
	border-right: 100px solid black;
	border-bottom: 100px solid transparent;
    border-left: 100px solid transparent;
    position: absolute;
	width: 0px;
    height: 0px;
    right: 0;
    animation: triang3 2s linear forwards;
}

@keyframes triang3{
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(-583px,270px) rotate(-45deg);
    }
}


